@import "manifest";

html {
    body {
        margin: 0;
        .mySpaceBaseWrap {
            font-size: $base-font-size !important;
            line-height: $base-line-height !important;
            .site-wrapper {
                .delete-me-when-starting-project {
                    .g {
                        .content-wrap {
                            background-color: #ccc;
                            min-height: 50px;
                            text-align: center;
                            text-transform: uppercase;
                        }
                    }
                }
            } /** end .site-wrapper */
        } /** end .mySpaceBaseWrap */
    } /** end body */
} /** end html */
