/*
  spaceBase version: 3.0.1
  http://spacebase.space150.com
*/
.mySpaceBaseWrap .gw,
.mySpaceBaseWrap .grid-wrapper {
  list-style: none;
  margin-bottom: 0;
  margin-left: -28px; }
  .mySpaceBaseWrap .gw:after,
  .mySpaceBaseWrap .grid-wrapper:after {
    display: table;
    content: "";
    clear: both; }

.mySpaceBaseWrap .gw--rev > .g,
.mySpaceBaseWrap .grid-wrapper--rev > .grid {
  float: right; }

.mySpaceBaseWrap .gw--full,
.mySpaceBaseWrap .grid-wrapper--full {
  margin-left: 0; }
  .mySpaceBaseWrap .gw--full > .g,
  .mySpaceBaseWrap .gw--full > .grid,
  .mySpaceBaseWrap .grid-wrapper--full > .g,
  .mySpaceBaseWrap .grid-wrapper--full > .grid {
    padding-left: 0; }

.mySpaceBaseWrap .gw > .gw,
.mySpaceBaseWrap .grid-wrapper > .grid-wrapper {
  margin-left: 0; }

.mySpaceBaseWrap .g,
.mySpaceBaseWrap .grid {
  float: left;
  width: 100%;
  padding-left: 28px;
  transition: width .15s ease; }

.myspaceBaseWrap .one-whole {
  width: 100%; }

.myspaceBaseWrap .one-half, .myspaceBaseWrap .two-quarters, .myspaceBaseWrap .three-sixths, .myspaceBaseWrap .four-eighths, .myspaceBaseWrap .five-tenths, .myspaceBaseWrap .six-twelfths {
  width: 50%; }

.myspaceBaseWrap .one-third, .myspaceBaseWrap .two-sixths, .myspaceBaseWrap .four-twelfths {
  width: 33.33333%; }

.myspaceBaseWrap .two-thirds, .myspaceBaseWrap .four-sixths, .myspaceBaseWrap .eight-twelfths {
  width: 66.66667%; }

.myspaceBaseWrap .one-quarter, .myspaceBaseWrap .two-eighths, .myspaceBaseWrap .three-twelfths {
  width: 25%; }

.myspaceBaseWrap .three-quarters, .myspaceBaseWrap .six-eighths, .myspaceBaseWrap .nine-twelfths {
  width: 75%; }

.myspaceBaseWrap .one-fifth, .myspaceBaseWrap .two-tenths {
  width: 20%; }

.myspaceBaseWrap .two-fifths, .myspaceBaseWrap .four-tenths {
  width: 40%; }

.myspaceBaseWrap .three-fifths, .myspaceBaseWrap .six-tenths {
  width: 60%; }

.myspaceBaseWrap .four-fifths, .myspaceBaseWrap .eight-tenths {
  width: 80%; }

.myspaceBaseWrap .one-sixth, .myspaceBaseWrap .two-twelfths {
  width: 16.66667%; }

.myspaceBaseWrap .five-sixths, .myspaceBaseWrap .ten-twelfths {
  width: 83.33333%; }

.myspaceBaseWrap .one-eighth {
  width: 12.5%; }

.myspaceBaseWrap .three-eighths {
  width: 37.5%; }

.myspaceBaseWrap .five-eighths {
  width: 62.5%; }

.myspaceBaseWrap .seven-eighths {
  width: 87.5%; }

.myspaceBaseWrap .one-tenth {
  width: 10%; }

.myspaceBaseWrap .three-tenths {
  width: 30%; }

.myspaceBaseWrap .seven-tenths {
  width: 70%; }

.myspaceBaseWrap .nine-tenths {
  width: 90%; }

.myspaceBaseWrap .one-twelfth {
  width: 8.33333%; }

.myspaceBaseWrap .five-twelfths {
  width: 41.66667%; }

.myspaceBaseWrap .seven-twelfths {
  width: 58.33333%; }

.myspaceBaseWrap .eleven-twelfths {
  width: 91.66667%; }

.myspaceBaseWrap .hand-one-whole {
  width: 100%; }

.myspaceBaseWrap .hand-one-half, .myspaceBaseWrap .hand-two-quarters, .myspaceBaseWrap .hand-three-sixths, .myspaceBaseWrap .hand-four-eighths, .myspaceBaseWrap .hand-five-tenths, .myspaceBaseWrap .hand-six-twelfths {
  width: 50%; }

.myspaceBaseWrap .hand-one-third, .myspaceBaseWrap .hand-two-sixths, .myspaceBaseWrap .hand-four-twelfths {
  width: 33.33333%; }

.myspaceBaseWrap .hand-two-thirds, .myspaceBaseWrap .hand-four-sixths, .myspaceBaseWrap .hand-eight-twelfths {
  width: 66.66667%; }

.myspaceBaseWrap .hand-one-quarter, .myspaceBaseWrap .hand-two-eighths, .myspaceBaseWrap .hand-three-twelfths {
  width: 25%; }

.myspaceBaseWrap .hand-three-quarters, .myspaceBaseWrap .hand-six-eighths, .myspaceBaseWrap .hand-nine-twelfths {
  width: 75%; }

.myspaceBaseWrap .hand-one-fifth, .myspaceBaseWrap .hand-two-tenths {
  width: 20%; }

.myspaceBaseWrap .hand-two-fifths, .myspaceBaseWrap .hand-four-tenths {
  width: 40%; }

.myspaceBaseWrap .hand-three-fifths, .myspaceBaseWrap .hand-six-tenths {
  width: 60%; }

.myspaceBaseWrap .hand-four-fifths, .myspaceBaseWrap .hand-eight-tenths {
  width: 80%; }

.myspaceBaseWrap .hand-one-sixth, .myspaceBaseWrap .hand-two-twelfths {
  width: 16.66667%; }

.myspaceBaseWrap .hand-five-sixths, .myspaceBaseWrap .hand-ten-twelfths {
  width: 83.33333%; }

.myspaceBaseWrap .hand-one-eighth {
  width: 12.5%; }

.myspaceBaseWrap .hand-three-eighths {
  width: 37.5%; }

.myspaceBaseWrap .hand-five-eighths {
  width: 62.5%; }

.myspaceBaseWrap .hand-seven-eighths {
  width: 87.5%; }

.myspaceBaseWrap .hand-one-tenth {
  width: 10%; }

.myspaceBaseWrap .hand-three-tenths {
  width: 30%; }

.myspaceBaseWrap .hand-seven-tenths {
  width: 70%; }

.myspaceBaseWrap .hand-nine-tenths {
  width: 90%; }

.myspaceBaseWrap .hand-one-twelfth {
  width: 8.33333%; }

.myspaceBaseWrap .hand-five-twelfths {
  width: 41.66667%; }

.myspaceBaseWrap .hand-seven-twelfths {
  width: 58.33333%; }

.myspaceBaseWrap .hand-eleven-twelfths {
  width: 91.66667%; }

.myspaceBaseWrap .lap-one-whole {
  width: 100%; }

.myspaceBaseWrap .lap-one-half, .myspaceBaseWrap .lap-two-quarters, .myspaceBaseWrap .lap-three-sixths, .myspaceBaseWrap .lap-four-eighths, .myspaceBaseWrap .lap-five-tenths, .myspaceBaseWrap .lap-six-twelfths {
  width: 50%; }

.myspaceBaseWrap .lap-one-third, .myspaceBaseWrap .lap-two-sixths, .myspaceBaseWrap .lap-four-twelfths {
  width: 33.33333%; }

.myspaceBaseWrap .lap-two-thirds, .myspaceBaseWrap .lap-four-sixths, .myspaceBaseWrap .lap-eight-twelfths {
  width: 66.66667%; }

.myspaceBaseWrap .lap-one-quarter, .myspaceBaseWrap .lap-two-eighths, .myspaceBaseWrap .lap-three-twelfths {
  width: 25%; }

.myspaceBaseWrap .lap-three-quarters, .myspaceBaseWrap .lap-six-eighths, .myspaceBaseWrap .lap-nine-twelfths {
  width: 75%; }

.myspaceBaseWrap .lap-one-fifth, .myspaceBaseWrap .lap-two-tenths {
  width: 20%; }

.myspaceBaseWrap .lap-two-fifths, .myspaceBaseWrap .lap-four-tenths {
  width: 40%; }

.myspaceBaseWrap .lap-three-fifths, .myspaceBaseWrap .lap-six-tenths {
  width: 60%; }

.myspaceBaseWrap .lap-four-fifths, .myspaceBaseWrap .lap-eight-tenths {
  width: 80%; }

.myspaceBaseWrap .lap-one-sixth, .myspaceBaseWrap .lap-two-twelfths {
  width: 16.66667%; }

.myspaceBaseWrap .lap-five-sixths, .myspaceBaseWrap .lap-ten-twelfths {
  width: 83.33333%; }

.myspaceBaseWrap .lap-one-eighth {
  width: 12.5%; }

.myspaceBaseWrap .lap-three-eighths {
  width: 37.5%; }

.myspaceBaseWrap .lap-five-eighths {
  width: 62.5%; }

.myspaceBaseWrap .lap-seven-eighths {
  width: 87.5%; }

.myspaceBaseWrap .lap-one-tenth {
  width: 10%; }

.myspaceBaseWrap .lap-three-tenths {
  width: 30%; }

.myspaceBaseWrap .lap-seven-tenths {
  width: 70%; }

.myspaceBaseWrap .lap-nine-tenths {
  width: 90%; }

.myspaceBaseWrap .lap-one-twelfth {
  width: 8.33333%; }

.myspaceBaseWrap .lap-five-twelfths {
  width: 41.66667%; }

.myspaceBaseWrap .lap-seven-twelfths {
  width: 58.33333%; }

.myspaceBaseWrap .lap-eleven-twelfths {
  width: 91.66667%; }

.myspaceBaseWrap .desk-one-whole {
  width: 100%; }

.myspaceBaseWrap .desk-one-half, .myspaceBaseWrap .desk-two-quarters, .myspaceBaseWrap .desk-three-sixths, .myspaceBaseWrap .desk-four-eighths, .myspaceBaseWrap .desk-five-tenths, .myspaceBaseWrap .desk-six-twelfths {
  width: 50%; }

.myspaceBaseWrap .desk-one-third, .myspaceBaseWrap .desk-two-sixths, .myspaceBaseWrap .desk-four-twelfths {
  width: 33.33333%; }

.myspaceBaseWrap .desk-two-thirds, .myspaceBaseWrap .desk-four-sixths, .myspaceBaseWrap .desk-eight-twelfths {
  width: 66.66667%; }

.myspaceBaseWrap .desk-one-quarter, .myspaceBaseWrap .desk-two-eighths, .myspaceBaseWrap .desk-three-twelfths {
  width: 25%; }

.myspaceBaseWrap .desk-three-quarters, .myspaceBaseWrap .desk-six-eighths, .myspaceBaseWrap .desk-nine-twelfths {
  width: 75%; }

.myspaceBaseWrap .desk-one-fifth, .myspaceBaseWrap .desk-two-tenths {
  width: 20%; }

.myspaceBaseWrap .desk-two-fifths, .myspaceBaseWrap .desk-four-tenths {
  width: 40%; }

.myspaceBaseWrap .desk-three-fifths, .myspaceBaseWrap .desk-six-tenths {
  width: 60%; }

.myspaceBaseWrap .desk-four-fifths, .myspaceBaseWrap .desk-eight-tenths {
  width: 80%; }

.myspaceBaseWrap .desk-one-sixth, .myspaceBaseWrap .desk-two-twelfths {
  width: 16.66667%; }

.myspaceBaseWrap .desk-five-sixths, .myspaceBaseWrap .desk-ten-twelfths {
  width: 83.33333%; }

.myspaceBaseWrap .desk-one-eighth {
  width: 12.5%; }

.myspaceBaseWrap .desk-three-eighths {
  width: 37.5%; }

.myspaceBaseWrap .desk-five-eighths {
  width: 62.5%; }

.myspaceBaseWrap .desk-seven-eighths {
  width: 87.5%; }

.myspaceBaseWrap .desk-one-tenth {
  width: 10%; }

.myspaceBaseWrap .desk-three-tenths {
  width: 30%; }

.myspaceBaseWrap .desk-seven-tenths {
  width: 70%; }

.myspaceBaseWrap .desk-nine-tenths {
  width: 90%; }

.myspaceBaseWrap .desk-one-twelfth {
  width: 8.33333%; }

.myspaceBaseWrap .desk-five-twelfths {
  width: 41.66667%; }

.myspaceBaseWrap .desk-seven-twelfths {
  width: 58.33333%; }

.myspaceBaseWrap .desk-eleven-twelfths {
  width: 91.66667%; }

.myspaceBaseWrap .cf:after {
  display: table;
  content: "";
  clear: both; }

.myspaceBaseWrap .ir {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent; }

.myspaceBaseWrap .hidden {
  display: none;
  visibility: hidden; }

.myspaceBaseWrap .visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.myspaceBaseWrap .visuallyhidden.focusable:active,
.myspaceBaseWrap .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.myspaceBaseWrap .hidden-hand-and-up {
  display: none; }

.myspaceBaseWrap .hidden-lap-and-up {
  display: none; }

.myspaceBaseWrap .hidden-desk-and-up {
  display: none; }

.myspaceBaseWrap .hidden-below-wall {
  display: none; }

.myspaceBaseWrap .float-right {
  float: right !important; }

.myspaceBaseWrap .float-left {
  float: left !important; }

.myspaceBaseWrap .text-left {
  text-align: left !important; }

.myspaceBaseWrap .text-center {
  text-align: center !important; }

.myspaceBaseWrap .text-right {
  text-align: right !important; }

.myspaceBaseWrap .text-upper {
  text-transform: uppercase !important; }

.myspaceBaseWrap .text-strong {
  font-weight: bold !important; }

.myspaceBaseWrap .text-nowrap {
  white-space: nowrap !important; }

.myspaceBaseWrap .display-table {
  display: table;
  width: 100%; }

.myspaceBaseWrap .display-row {
  display: table-row; }

.myspaceBaseWrap .display-cell {
  display: table-cell;
  vertical-align: middle; }

.myspaceBaseWrap .anchor-plain {
  color: inherit; }
  .myspaceBaseWrap .anchor-plain:hover, .myspaceBaseWrap .anchor-plain:focus {
    text-decoration: none; }

html .mySpaceBaseWrap {
  font: 1em/1.75 Arial, Helvetica, sans-serif;
  color: #000000;
  background: #ffffff;
  -webkit-tap-highlight-color: transparent; }

.mySpaceBaseWrap a {
  color: #7abcb5;
  text-decoration: none; }
  .mySpaceBaseWrap a:hover, .mySpaceBaseWrap a:focus {
    text-decoration: underline; }

.mySpaceBaseWrap i {
  font-style: normal; }

.mySpaceBaseWrap h1, .mySpaceBaseWrap .h1,
.mySpaceBaseWrap h2, .mySpaceBaseWrap .h2,
.mySpaceBaseWrap h3, .mySpaceBaseWrap .h3,
.mySpaceBaseWrap h4, .mySpaceBaseWrap .h4,
.mySpaceBaseWrap h5, .mySpaceBaseWrap .h5,
.mySpaceBaseWrap h6, .mySpaceBaseWrap .h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal; }

.mySpaceBaseWrap h1, .mySpaceBaseWrap .h1 {
  font-size: 30px;
  line-height: 1; }

.mySpaceBaseWrap h2, .mySpaceBaseWrap .h2 {
  font-size: 20px;
  line-height: 1.2; }

.mySpaceBaseWrap h3, .mySpaceBaseWrap .h3 {
  font-size: 16px;
  line-height: 1.4; }

.mySpaceBaseWrap h4, .mySpaceBaseWrap .h4 {
  font-size: 14px; }

.mySpaceBaseWrap h1, .mySpaceBaseWrap .h1 {
  font-size: 57.6px; }

.mySpaceBaseWrap h2, .mySpaceBaseWrap .h2 {
  font-size: 38.4px; }

.mySpaceBaseWrap h3, .mySpaceBaseWrap .h3 {
  font-size: 24px; }

.mySpaceBaseWrap h4, .mySpaceBaseWrap .h4 {
  font-size: 19.2px; }

.mySpaceBaseWrap .island,
.mySpaceBaseWrap .islet,
.mySpaceBaseWrap .landmark,
.mySpaceBaseWrap .landmarklet {
  display: block; }
  .mySpaceBaseWrap .island:after,
  .mySpaceBaseWrap .islet:after,
  .mySpaceBaseWrap .landmark:after,
  .mySpaceBaseWrap .landmarklet:after {
    display: table;
    content: "";
    clear: both; }
  .mySpaceBaseWrap .island > :last-child,
  .mySpaceBaseWrap .islet > :last-child,
  .mySpaceBaseWrap .landmark > :last-child,
  .mySpaceBaseWrap .landmarklet > :last-child {
    margin-bottom: 0; }

.mySpaceBaseWrap .island {
  padding-top: 28px;
  padding-bottom: 28px; }

.mySpaceBaseWrap .islet {
  padding-top: 14px;
  padding-bottom: 14px; }

.mySpaceBaseWrap .landmark {
  margin-bottom: 56px; }

.mySpaceBaseWrap .landmarklet {
  margin-bottom: 28px; }

.mySpaceBaseWrap .media:after {
  display: table;
  content: "";
  clear: both; }

.mySpaceBaseWrap .media__item {
  float: left;
  margin-right: 14px; }
  .mySpaceBaseWrap .media__item img,
  .mySpaceBaseWrap .media__item video,
  .mySpaceBaseWrap .media__item iframe,
  .mySpaceBaseWrap .media__item object {
    display: block; }

.mySpaceBaseWrap .media__body,
.mySpaceBaseWrap .media__body > :last-child {
  margin-bottom: 0; }

.mySpaceBaseWrap .media--flip > .media__item {
  float: right;
  margin-right: 0;
  margin-left: 14px; }

.mySpaceBaseWrap .media--nowrap > .media__body {
  overflow: hidden; }

.mySpaceBaseWrap .media--valign {
  display: table;
  width: 100%; }
  .mySpaceBaseWrap .media--valign .media__item,
  .mySpaceBaseWrap .media--valign .media__body {
    float: none;
    display: table-cell;
    vertical-align: middle; }
  .mySpaceBaseWrap .media--valign .media__item {
    padding-right: 14px; }
    .mySpaceBaseWrap .media--valign .media__item img {
      width: auto !important;
      max-width: none !important; }

body {
  min-width: 320px; }

.mySpaceBaseWrap .site-wrapper {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 28px;
  padding-right: 28px; }
