/**Import this if you're building a Golf Galaxy or FnS CMS page.
  *This will give your local build the same base styles that DSG uses
  */
 html {
    font-size: 16px;
    body {
        font-size: 13px;
        line-height: 1.4em;
        color: #000;
        height: 100%;
        width: 100%;
        div#page {
            width: 100%;
            height: 100%;
            position: relative;
        }
        .static-page {
            .scp {
                h1, h2, h3, h4, h5 {
                    margin: 0;
                    padding: 0;
                    border: 0;
                    outline: 1;
                    vertical-align: baseline;
                    font-size: inherit;
                    color: inherit;
                    font-weight: bold;
                    padding: 0 0 15px;
                    a {
                        font-size: inherit;
                    }
                }
                h1 {
                    font-size: 23px;
                    line-height: 25px;
                }
                h2 {
                    font-size: 18px;
                    line-height: 18.2px;
                }
                h3 {
                    font-size: 16px;
                    line-height: 18.2px;
                }
                h4, h5, h6 {
                    font-size: 14px;
                    line-height: 18.2px;
                }
                p{
                    font-size: 13px;
                    line-height: 18.2px;
                    padding: 0 0 15px;
                    a{
                        font-size: inherit;
                    }
                }
                ol, ul, li {
                    margin: 0;
                    padding: 0;
                    border: 0;
                    outline: 1;
                    font-weight: inherit;
                    font-style: inherit;
                    vertical-align: baseline;
                    font-size: inherit;
                    color: inherit;
                    li{
                        a {
                            font-size: inherit;
                        }
                    }
                }
                a {
                    text-decoration: none;
                    color: inherit;
                    &:active,&:visited {
                    text-decoration: none;
                    color: inherit;
                    margin: 0;
                    padding: 0;
                    border: 0;
                    outline: 1;
                    font-weight: inherit;
                    font-style: inherit;
                    vertical-align: baseline;
                    font-size: inherit;
                    color: inherit;
                    }
                }
            }
        }
    }
 }
