/*
  mySpaceBase version: 1.0.1
  https://bitbucket.org/dsgfed/myspacebase
*/
html body .mySpaceBaseWrap .gw,
html body .mySpaceBaseWrap .grid-wrapper {
  list-style: none;
  margin-left: -2%;
  width: 102%; }
  html body .mySpaceBaseWrap .gw:after,
  html body .mySpaceBaseWrap .grid-wrapper:after {
    display: table;
    content: "";
    clear: both; }
  html body .mySpaceBaseWrap .gw > a,
  html body .mySpaceBaseWrap .grid-wrapper > a {
    display: block;
    height: 100%; }

html body .mySpaceBaseWrap .gw--rev > .g,
html body .mySpaceBaseWrap .grid-wrapper--rev > .grid {
  float: right; }

html body .mySpaceBaseWrap .gw--rev > a > .g, html body .mySpaceBaseWrap .gw--rev > a > .grid, html body .mySpaceBaseWrap .grid-wrapper--rev > a > .g, html body .mySpaceBaseWrap .grid-wrapper--rev > a > .grid {
  float: right; }

html body .mySpaceBaseWrap .gw--full,
html body .mySpaceBaseWrap .grid-wrapper--full {
  margin-left: 0;
  width: 100%; }
  html body .mySpaceBaseWrap .gw--full > .g,
  html body .mySpaceBaseWrap .gw--full > .grid,
  html body .mySpaceBaseWrap .grid-wrapper--full > .g,
  html body .mySpaceBaseWrap .grid-wrapper--full > .grid {
    padding-left: 0; }
  html body .mySpaceBaseWrap .gw--full a > .g,
  html body .mySpaceBaseWrap .gw--full a > .grid,
  html body .mySpaceBaseWrap .grid-wrapper--full a > .g,
  html body .mySpaceBaseWrap .grid-wrapper--full a > .grid {
    padding-left: 0; }

html body .mySpaceBaseWrap .gw > .gw,
html body .mySpaceBaseWrap .grid-wrapper > .grid-wrapper {
  margin-left: 0; }

html body .mySpaceBaseWrap .g,
html body .mySpaceBaseWrap .grid {
  float: left;
  padding-left: 2%;
  -webkit-transition: width .15s ease;
  -o-transition: width .15s ease;
  transition: width .15s ease; }
  html body .mySpaceBaseWrap .g a,
  html body .mySpaceBaseWrap .grid a {
    display: block; }

.mySpaceBaseWrap .one-whole {
  width: 100%; }

.mySpaceBaseWrap .one-half, .mySpaceBaseWrap .two-quarters, .mySpaceBaseWrap .three-sixths, .mySpaceBaseWrap .four-eighths, .mySpaceBaseWrap .five-tenths, .mySpaceBaseWrap .six-twelfths {
  width: 50%; }

.mySpaceBaseWrap .one-third, .mySpaceBaseWrap .two-sixths, .mySpaceBaseWrap .four-twelfths {
  width: 33.33333%; }

.mySpaceBaseWrap .two-thirds, .mySpaceBaseWrap .four-sixths, .mySpaceBaseWrap .eight-twelfths {
  width: 66.66667%; }

.mySpaceBaseWrap .one-quarter, .mySpaceBaseWrap .two-eighths, .mySpaceBaseWrap .three-twelfths {
  width: 25%; }

.mySpaceBaseWrap .three-quarters, .mySpaceBaseWrap .six-eighths, .mySpaceBaseWrap .nine-twelfths {
  width: 75%; }

.mySpaceBaseWrap .one-fifth, .mySpaceBaseWrap .two-tenths {
  width: 20%; }

.mySpaceBaseWrap .two-fifths, .mySpaceBaseWrap .four-tenths {
  width: 40%; }

.mySpaceBaseWrap .three-fifths, .mySpaceBaseWrap .six-tenths {
  width: 60%; }

.mySpaceBaseWrap .four-fifths, .mySpaceBaseWrap .eight-tenths {
  width: 80%; }

.mySpaceBaseWrap .one-sixth, .mySpaceBaseWrap .two-twelfths {
  width: 16.66667%; }

.mySpaceBaseWrap .five-sixths, .mySpaceBaseWrap .ten-twelfths {
  width: 83.33333%; }

.mySpaceBaseWrap .one-eighth {
  width: 12.5%; }

.mySpaceBaseWrap .three-eighths {
  width: 37.5%; }

.mySpaceBaseWrap .five-eighths {
  width: 62.5%; }

.mySpaceBaseWrap .seven-eighths {
  width: 87.5%; }

.mySpaceBaseWrap .one-tenth {
  width: 10%; }

.mySpaceBaseWrap .three-tenths {
  width: 30%; }

.mySpaceBaseWrap .seven-tenths {
  width: 70%; }

.mySpaceBaseWrap .nine-tenths {
  width: 90%; }

.mySpaceBaseWrap .one-twelfth {
  width: 8.33333%; }

.mySpaceBaseWrap .five-twelfths {
  width: 41.66667%; }

.mySpaceBaseWrap .seven-twelfths {
  width: 58.33333%; }

.mySpaceBaseWrap .eleven-twelfths {
  width: 91.66667%; }

.mySpaceBaseWrap .hand-one-whole {
  width: 100%; }

.mySpaceBaseWrap .hand-one-half, .mySpaceBaseWrap .hand-two-quarters, .mySpaceBaseWrap .hand-three-sixths, .mySpaceBaseWrap .hand-four-eighths, .mySpaceBaseWrap .hand-five-tenths, .mySpaceBaseWrap .hand-six-twelfths {
  width: 50%; }

.mySpaceBaseWrap .hand-one-third, .mySpaceBaseWrap .hand-two-sixths, .mySpaceBaseWrap .hand-four-twelfths {
  width: 33.33333%; }

.mySpaceBaseWrap .hand-two-thirds, .mySpaceBaseWrap .hand-four-sixths, .mySpaceBaseWrap .hand-eight-twelfths {
  width: 66.66667%; }

.mySpaceBaseWrap .hand-one-quarter, .mySpaceBaseWrap .hand-two-eighths, .mySpaceBaseWrap .hand-three-twelfths {
  width: 25%; }

.mySpaceBaseWrap .hand-three-quarters, .mySpaceBaseWrap .hand-six-eighths, .mySpaceBaseWrap .hand-nine-twelfths {
  width: 75%; }

.mySpaceBaseWrap .hand-one-fifth, .mySpaceBaseWrap .hand-two-tenths {
  width: 20%; }

.mySpaceBaseWrap .hand-two-fifths, .mySpaceBaseWrap .hand-four-tenths {
  width: 40%; }

.mySpaceBaseWrap .hand-three-fifths, .mySpaceBaseWrap .hand-six-tenths {
  width: 60%; }

.mySpaceBaseWrap .hand-four-fifths, .mySpaceBaseWrap .hand-eight-tenths {
  width: 80%; }

.mySpaceBaseWrap .hand-one-sixth, .mySpaceBaseWrap .hand-two-twelfths {
  width: 16.66667%; }

.mySpaceBaseWrap .hand-five-sixths, .mySpaceBaseWrap .hand-ten-twelfths {
  width: 83.33333%; }

.mySpaceBaseWrap .hand-one-eighth {
  width: 12.5%; }

.mySpaceBaseWrap .hand-three-eighths {
  width: 37.5%; }

.mySpaceBaseWrap .hand-five-eighths {
  width: 62.5%; }

.mySpaceBaseWrap .hand-seven-eighths {
  width: 87.5%; }

.mySpaceBaseWrap .hand-one-tenth {
  width: 10%; }

.mySpaceBaseWrap .hand-three-tenths {
  width: 30%; }

.mySpaceBaseWrap .hand-seven-tenths {
  width: 70%; }

.mySpaceBaseWrap .hand-nine-tenths {
  width: 90%; }

.mySpaceBaseWrap .hand-one-twelfth {
  width: 8.33333%; }

.mySpaceBaseWrap .hand-five-twelfths {
  width: 41.66667%; }

.mySpaceBaseWrap .hand-seven-twelfths {
  width: 58.33333%; }

.mySpaceBaseWrap .hand-eleven-twelfths {
  width: 91.66667%; }

.mySpaceBaseWrap .lap-one-whole {
  width: 100%; }

.mySpaceBaseWrap .lap-one-half, .mySpaceBaseWrap .lap-two-quarters, .mySpaceBaseWrap .lap-three-sixths, .mySpaceBaseWrap .lap-four-eighths, .mySpaceBaseWrap .lap-five-tenths, .mySpaceBaseWrap .lap-six-twelfths {
  width: 50%; }

.mySpaceBaseWrap .lap-one-third, .mySpaceBaseWrap .lap-two-sixths, .mySpaceBaseWrap .lap-four-twelfths {
  width: 33.33333%; }

.mySpaceBaseWrap .lap-two-thirds, .mySpaceBaseWrap .lap-four-sixths, .mySpaceBaseWrap .lap-eight-twelfths {
  width: 66.66667%; }

.mySpaceBaseWrap .lap-one-quarter, .mySpaceBaseWrap .lap-two-eighths, .mySpaceBaseWrap .lap-three-twelfths {
  width: 25%; }

.mySpaceBaseWrap .lap-three-quarters, .mySpaceBaseWrap .lap-six-eighths, .mySpaceBaseWrap .lap-nine-twelfths {
  width: 75%; }

.mySpaceBaseWrap .lap-one-fifth, .mySpaceBaseWrap .lap-two-tenths {
  width: 20%; }

.mySpaceBaseWrap .lap-two-fifths, .mySpaceBaseWrap .lap-four-tenths {
  width: 40%; }

.mySpaceBaseWrap .lap-three-fifths, .mySpaceBaseWrap .lap-six-tenths {
  width: 60%; }

.mySpaceBaseWrap .lap-four-fifths, .mySpaceBaseWrap .lap-eight-tenths {
  width: 80%; }

.mySpaceBaseWrap .lap-one-sixth, .mySpaceBaseWrap .lap-two-twelfths {
  width: 16.66667%; }

.mySpaceBaseWrap .lap-five-sixths, .mySpaceBaseWrap .lap-ten-twelfths {
  width: 83.33333%; }

.mySpaceBaseWrap .lap-one-eighth {
  width: 12.5%; }

.mySpaceBaseWrap .lap-three-eighths {
  width: 37.5%; }

.mySpaceBaseWrap .lap-five-eighths {
  width: 62.5%; }

.mySpaceBaseWrap .lap-seven-eighths {
  width: 87.5%; }

.mySpaceBaseWrap .lap-one-tenth {
  width: 10%; }

.mySpaceBaseWrap .lap-three-tenths {
  width: 30%; }

.mySpaceBaseWrap .lap-seven-tenths {
  width: 70%; }

.mySpaceBaseWrap .lap-nine-tenths {
  width: 90%; }

.mySpaceBaseWrap .lap-one-twelfth {
  width: 8.33333%; }

.mySpaceBaseWrap .lap-five-twelfths {
  width: 41.66667%; }

.mySpaceBaseWrap .lap-seven-twelfths {
  width: 58.33333%; }

.mySpaceBaseWrap .lap-eleven-twelfths {
  width: 91.66667%; }

.mySpaceBaseWrap *, .mySpaceBaseWrap *:before, .mySpaceBaseWrap *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.mySpaceBaseWrap audio,
.mySpaceBaseWrap canvas,
.mySpaceBaseWrap img,
.mySpaceBaseWrap svg,
.mySpaceBaseWrap video {
  vertical-align: middle; }

.mySpaceBaseWrap img {
  max-width: 100%;
  -ms-interpolation-mode: bicubic; }

.mySpaceBaseWrap img[width],
.mySpaceBaseWrap img[height] {
  max-width: none; }

.mySpaceBaseWrap h1, .mySpaceBaseWrap h2, .mySpaceBaseWrap h3, .mySpaceBaseWrap h4, .mySpaceBaseWrap h5, .mySpaceBaseWrap h6, .mySpaceBaseWrap hgroup, .mySpaceBaseWrap hr,
.mySpaceBaseWrap ul, .mySpaceBaseWrap ol, .mySpaceBaseWrap dl,
.mySpaceBaseWrap blockquote, .mySpaceBaseWrap p, .mySpaceBaseWrap address,
.mySpaceBaseWrap table,
.mySpaceBaseWrap fieldset, .mySpaceBaseWrap figure, .mySpaceBaseWrap figcaption,
.mySpaceBaseWrap pre {
  margin-top: 0;
  margin-bottom: 28px; }
  .mySpaceBaseWrap h1 ul, .mySpaceBaseWrap h1 ol, .mySpaceBaseWrap h2 ul, .mySpaceBaseWrap h2 ol, .mySpaceBaseWrap h3 ul, .mySpaceBaseWrap h3 ol, .mySpaceBaseWrap h4 ul, .mySpaceBaseWrap h4 ol, .mySpaceBaseWrap h5 ul, .mySpaceBaseWrap h5 ol, .mySpaceBaseWrap h6 ul, .mySpaceBaseWrap h6 ol, .mySpaceBaseWrap hgroup ul, .mySpaceBaseWrap hgroup ol, .mySpaceBaseWrap hr ul, .mySpaceBaseWrap hr ol,
  .mySpaceBaseWrap ul ul,
  .mySpaceBaseWrap ul ol, .mySpaceBaseWrap ol ul, .mySpaceBaseWrap ol ol, .mySpaceBaseWrap dl ul, .mySpaceBaseWrap dl ol,
  .mySpaceBaseWrap blockquote ul,
  .mySpaceBaseWrap blockquote ol, .mySpaceBaseWrap p ul, .mySpaceBaseWrap p ol, .mySpaceBaseWrap address ul, .mySpaceBaseWrap address ol,
  .mySpaceBaseWrap table ul,
  .mySpaceBaseWrap table ol,
  .mySpaceBaseWrap fieldset ul,
  .mySpaceBaseWrap fieldset ol, .mySpaceBaseWrap figure ul, .mySpaceBaseWrap figure ol, .mySpaceBaseWrap figcaption ul, .mySpaceBaseWrap figcaption ol,
  .mySpaceBaseWrap pre ul,
  .mySpaceBaseWrap pre ol {
    margin-bottom: 0; }

.mySpaceBaseWrap ul, .mySpaceBaseWrap ol, .mySpaceBaseWrap dd {
  margin-left: 28px;
  padding: 0; }

.mySpaceBaseWrap table {
  border-collapse: collapse;
  border-spacing: 0; }

html body .mySpaceBaseWrap .site-wrapper .mobile, html body .mySpaceBaseWrap .site-wrapper .mobile-only {
  display: block; }

html body .mySpaceBaseWrap .site-wrapper .desktop, html body .mySpaceBaseWrap .site-wrapper .desktop-only {
  display: none; }

html body .mySpaceBaseWrap .site-wrapper .relative, html body .mySpaceBaseWrap .site-wrapper .grid, html body .mySpaceBaseWrap .site-wrapper .g {
  position: relative;
  height: 100%;
  display: block; }
  html body .mySpaceBaseWrap .site-wrapper .relative .absolute, html body .mySpaceBaseWrap .site-wrapper .grid .absolute, html body .mySpaceBaseWrap .site-wrapper .g .absolute {
    top: 0;
    left: 0; }

html body .mySpaceBaseWrap .site-wrapper .absolute {
  position: absolute;
  z-index: 1; }

html body .mySpaceBaseWrap .cf:after {
  display: table;
  content: "";
  clear: both; }

html body .mySpaceBaseWrap .ir {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent; }

html body .mySpaceBaseWrap .hidden {
  display: none;
  visibility: hidden; }

html body .mySpaceBaseWrap .visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

html body .mySpaceBaseWrap .visuallyhidden.focusable:active,
html body .mySpaceBaseWrap .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.hidden-hand-and-up {
  display: none; }

.hidden-lap-and-up {
  display: none; }

.hidden-below-desk {
  display: none; }

.hidden-below-wall {
  display: none; }

html body .mySpaceBaseWrap .float-right {
  float: right !important; }

html body .mySpaceBaseWrap .float-left {
  float: left !important; }

html body .mySpaceBaseWrap .text-left {
  text-align: left !important; }

html body .mySpaceBaseWrap .text-center {
  text-align: center !important; }

html body .mySpaceBaseWrap .text-right {
  text-align: right !important; }

html body .mySpaceBaseWrap .text-upper {
  text-transform: uppercase !important; }

html body .mySpaceBaseWrap .text-strong {
  font-weight: bold !important; }

html body .mySpaceBaseWrap .text-nowrap {
  white-space: nowrap !important; }

html body .mySpaceBaseWrap .display-table {
  display: table;
  width: 100%; }

html body .mySpaceBaseWrap .display-row {
  display: table-row; }

html body .mySpaceBaseWrap .display-cell {
  display: table-cell;
  vertical-align: middle; }

html body .mySpaceBaseWrap .anchor-plain {
  color: inherit; }
  html body .mySpaceBaseWrap .anchor-plain:hover, html body .mySpaceBaseWrap .anchor-plain:focus {
    text-decoration: none; }

@media (min-width: 640px) {
  html body .mySpaceBaseWrap .site-wrapper .mobile, html body .mySpaceBaseWrap .site-wrapper .mobile-only {
    display: none; }
  html body .mySpaceBaseWrap .site-wrapper .desktop, html body .mySpaceBaseWrap .site-wrapper .desktop-only {
    display: block; } }

html .mySpaceBaseWrap {
  font: 0.625em/2.8 "DIN Medium", "Roboto", Arial, Helvetica, sans-serif !important;
  color: #333333;
  background: #ffffff;
  -webkit-tap-highlight-color: transparent; }

.mySpaceBaseWrap a {
  color: #006554;
  text-decoration: none; }
  .mySpaceBaseWrap a:hover, .mySpaceBaseWrap a:focus {
    text-decoration: underline; }

.mySpaceBaseWrap i {
  font-style: normal; }

.mySpaceBaseWrap h1, .mySpaceBaseWrap .h1,
.mySpaceBaseWrap h2, .mySpaceBaseWrap .h2,
.mySpaceBaseWrap h3, .mySpaceBaseWrap .h3,
.mySpaceBaseWrap h4, .mySpaceBaseWrap .h4,
.mySpaceBaseWrap h5, .mySpaceBaseWrap .h5,
.mySpaceBaseWrap h6, .mySpaceBaseWrap .h6 {
  font-family: "DIN Medium", "Roboto", Arial, Helvetica, sans-serif !important;
  font-weight: normal; }

.mySpaceBaseWrap h1, .mySpaceBaseWrap .h1 {
  font-size: 18.75px;
  line-height: 1; }

.mySpaceBaseWrap h2, .mySpaceBaseWrap .h2 {
  font-size: 12.5px;
  line-height: 1.2; }

.mySpaceBaseWrap h3, .mySpaceBaseWrap .h3 {
  font-size: 10px;
  line-height: 1.4; }

.mySpaceBaseWrap h4, .mySpaceBaseWrap .h4 {
  font-size: 8.75px; }

.mySpaceBaseWrap h1, .mySpaceBaseWrap .h1 {
  font-size: 36px; }

.mySpaceBaseWrap h2, .mySpaceBaseWrap .h2 {
  font-size: 24px; }

.mySpaceBaseWrap h3, .mySpaceBaseWrap .h3 {
  font-size: 15px; }

.mySpaceBaseWrap h4, .mySpaceBaseWrap .h4 {
  font-size: 12px; }

.mySpaceBaseWrap .island,
.mySpaceBaseWrap .islet,
.mySpaceBaseWrap .landmark,
.mySpaceBaseWrap .landmarklet,
.mySpaceBaseWrap .copy {
  display: block; }
  .mySpaceBaseWrap .island:after,
  .mySpaceBaseWrap .islet:after,
  .mySpaceBaseWrap .landmark:after,
  .mySpaceBaseWrap .landmarklet:after,
  .mySpaceBaseWrap .copy:after {
    display: table;
    content: "";
    clear: both; }
  .mySpaceBaseWrap .island > :last-child,
  .mySpaceBaseWrap .islet > :last-child,
  .mySpaceBaseWrap .landmark > :last-child,
  .mySpaceBaseWrap .landmarklet > :last-child,
  .mySpaceBaseWrap .copy > :last-child {
    margin-bottom: 0; }

.mySpaceBaseWrap .island {
  padding-top: 28px;
  padding-bottom: 28px; }

.mySpaceBaseWrap .islet {
  padding-top: 14px;
  padding-bottom: 14px; }

.mySpaceBaseWrap .landmark {
  margin-bottom: 56px; }

.mySpaceBaseWrap .landmarklet {
  margin-bottom: 28px; }

.mySpaceBaseWrap .site-wrapper {
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2%;
  padding-right: 2%; }
