//------------------------------------//
//  $VARIABLES
//------------------------------------//

/*
  mySpaceBase version: 1.0.1
  https://bitbucket.org/dsgfed/myspacebase
*/
// Colors
$black:        #333333;
$trueBlack:    #000000;
$gray-dark:    #666666;
$gray:         #999999;
$gray-light:   #cccccc;
$white:        #ffffff;
$green:        #006554;
$fnsOrange:    #f58023;
$ggxyBlue:     #00203a;

$primary:      #006554; // DSG Green
$secondary:    #00203a; // GGXY Blue
$tertiary:     #f58023; // FnS Orange
$quaternary:   #c46e35; // dark orange

// quinary, senary, septenary, octonary, nonary, denary

// Form validation colors
$state-success: #006554;
$state-error:   #b90930;

// Fonts
$dsgSansBlack: 'DSG Sans Black', Arial, Helvetica, sans-serif !important;
$dsgSansBold: 'DSG Sans Bold', Arial, Helvetica, sans-serif !important;
$dsgSansMed: 'DSG Sans Medium', Arial Narrow, sans-serif !important;
$dinMed: 'DIN Medium','Roboto', Arial, Helvetica, sans-serif !important;
$fallback: Helvetica, Arial, sans-serif !important;
$font-body: $dinMed;
$font-head: $font-body;

//Custom Mixins
@mixin subtleFade($duration) {
  -webkit-transition: color $duration ease-in, background-color $duration ease-in;
  -moz-transition: color $duration ease-in, background-color $duration ease-in;
  -ms-transition: color $duration ease-in, background-color $duration ease-in;
  -o-transition: color $duration ease-in, background-color $duration ease-in;
  transition: color $duration ease-in, background-color $duration ease-in;
}
